node_modules
.next
out
.env
.env.local
.DS_Store
*.tsbuildinfo
next-env.d.ts

.vercel
public/uploads/
data/local-data.json
data/totp-secret.json

# Dev memory files
PROJECT_MEMORY.md
ARCHITECTURE.md
TASKS.md
DECISIONS.md
